@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }

  body {
    @apply bg-background text-white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-orange-500 bg-clip-text text-transparent;
  }
}
